<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--@formatter:off-->
            <pattern>
                <!--     date time                thread              log-level           class.method()        message         -->
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}.%M\(\)) : %msg%n
            </pattern>
            <!--@formatter:on-->
        </encoder>
    </appender>

    <logger name="com.github.gatoke.offers.commandbus" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>
